body{
    overflow-x: hidden;
}


img{
    width: 300px;
    height: 320px;
    border-radius: 100%;
    padding: 100px;
    margin-right: 600PX;
}
body{
   border: 10px solid black;
   height: 1400px;
   
 

   
 
  background-color: rgb(228, 239, 250);
  
  
}
h1{
    margin-left: 300PX;
    font-size: 1.5CM;
    margin-top: -200px;
    color:rgb(85, 85, 151) ;
}
h2{
    margin-left: 700px;
    margin-top:-45px ;
    font-size: 35px;
}
#q{
    font-size: 2cm;
    position: relative;
    right: 70px;
}
#w{
    text-align: justify;
    width: 1000px;
   
  font-size: 21px;
  margin-left: 160px;
  margin-top: -60px;
 word-spacing: 5px;
 line-height:30px;
}
h3{
    margin-left: 260px;
    margin-top: 50px;
}
#list{
    margin-left:280px ;
    line-height:40px ;
    font-weight: 100;
}
#div1{
    position: relative;
   left: 530px;
}
a{
    margin-left: 805px;
   position: relative;
   top: -57px;
}






@media(max-width:400px){
    body{
        width: 300px;
        height: 700px;;
        overflow: hidden;
    }
    img{
       position: relative;
       right: 90px;
       top: -80px;
       width: 100px;
       height: 150px;
    }
    h1{
      position: relative;
      right: 248px;
      top: -45px;
      font-size:17px;
      width: 299px;
      
    }
    h2{
        position: relative;
        right:594px;
        top: -13px;
        font-size:13px;
        width: 299px;
    }
    #q{
        position: relative;
        
        left:-71px;
        top: 10px;
        font-size:15px;
        width: 299px 
    }
    #w{
        position: relative;
        right:144px;
        top: 59px;
        font-size:10px;
        width: 255px;
        line-height: normal;
    }
    h3{
        position: relative;
        right:244px;
        top: 33px;
        font-size:10px;
        width: 255px;
        line-height: normal;
    }
    #list{
        position: relative;
        right:284px;
        top: 28px;
        font-size:9px;
        width: 268px;
        line-height: normal;
    }
    #div1{
        position: relative;
        left: 98px;
        top: 28px;
        font-size:9px;
        width: 268px;
        line-height: normal;
    }
    a{
        position: relative;
        left:-545px;
        top: 9px;
        font-size:9px;
        width: 268px;
        line-height: normal;
    }
}